body {
       /*background: beige;*/
       background: url(chat.jpg) center;
       /*text-align: center;*/
       font-family: Arial, sans-serif;
       background-attachment: fixed;
     }

#header {
  margin-top: 20px;
  color: black ;
  font-size: 64px;
  background-image: linear-gradient(15deg, red,white, cyan);
  border-radius: 30px;
  box-shadow: 6px 8px 4px gray;
  text-align: center;
}


#div1 {
  float:left;
  width:60%;
}


#div2 {
  float: right;
  width:40%;
  height:600px;
  background-image: linear-gradient(white,grey);
  text-align: center;
}

p {
  margin: 30px auto;
  /*padding: 3px;*/
  color: black;
  font-size: 30px;
  font-weight: bold;
  /*background-image: linear-gradient(skyblue , blue );*/
  /*border-radius: 30px;*/
  /*box-shadow: 6px 8px 4px gray;*/
}

button {
  margin: 30px auto;
  padding: 2px;
  color: #FAF0E6;
  font-size: 25px;
  background-image: linear-gradient(red , black );
  border-radius: 30px;
  box-shadow: 6px 8px 4px gray;
}

#return {
  display: inline-block;
  background: rgb(26,26,26);
  color: white;
  border: 1px solid white;
  text-align: left ;
  text-decoration: none;
  border-radius: 6px;
}

/*#moreinfo{
  margin-top: 100px;
}*/

table, th, td {
    border: 1px solid black;
}

#nomdate{
  display: inline-block;
}

.buttondate {
  border-radius:10px;
  cursor: pointer;
  font-size: 20px;
  background:skyblue;
  box-shadow: 3px 3px 4px gray;
}

/*p.choix {
  margin: 30px auto;
  padding: 2px;
  color: black ;
  font-size: 30px;
  background-image: linear-gradient(skyblue , blue );
  border-radius: 30px;
  box-shadow: 6px 8px 4px gray;
}*/
